.Landing {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    background: radial-gradient(78.17% 133.85% at 104.12% 0%, #FFFFFF 0%, rgba(255, 255, 255, 0.791667) 68.15%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #FFEBD3, #FFEBD3);
}

/* split the screen in half (dunno how this works. more reasearch) */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
/* left half */
.left {
    left: 0;
}
/* right half */
.right {
    right: 0;
}
/* centered in the area */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.blueText {
    font-size: 48px;
    font-family: 'Varela Round';
    color: rgba(41, 112, 250, 1);
    margin-bottom: 100px;
}

.logo_homepage {
    position: relative;
    top: 20px;
}

.giveGiftPic {
    height: 400px;
}

.bigButton {
    color: white;
    background: #72D6C9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    white-space: nowrap;
    font-size: 20px;
    padding: 15px 200px;
    margin-top: 100px;
}