.landingNavbar {
    position: absolute;
    padding: 30px 50px 0px 0px;
    right: 0;
    
    /* display navigation links in a row */
    display: flex;
    flex-direction: row;
    
    /* align navbar elements by their (horizontal) center */
    height: 100px;
    align-items: center;

    /* put some space between navigation links */
    /* width: 40%;
    justify-content: space-between; */

    /* put navbar on top of all pages */
    z-index: 100;
}

.link {
    color: rgba(114, 214, 201, 1);
    text-decoration: none;
    cursor: pointer;
    font-size: 24px;
    font-family: 'Varela Round';
}

.link:hover, .activeLink {
    color: rgb(41, 112, 250);
    fill: rgb(41, 112, 250);
}