.wishlist {
  text-align: center;
}

.addWishlistItemTitle {
  color: rgb(41, 112, 250);
  margin: 1% 0;
}

.wishlistItemInputBox {
  font-size: 17px;
  font-family: 'Didact Gothic';
  padding: 0;
  text-align: center;
}
