.wishlistItemPopup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 3%;
}

.addWishlistItemTitle {
  color: rgb(41, 112, 250);
  margin: 2% 0 0;
}

.wishlistItemInputBox {
  font-size: 17px;
  font-family: 'Didact Gothic';
  padding: 0;
  text-align: center;
  background: white;
  margin: 1% 0;
}

.saveUndoButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.usernameButton {
  margin: 1%;
}