.Profile {
  overflow-x: hidden;
  min-height: 100vh;
  padding-bottom: 5%;
  background: linear-gradient(180deg, rgb(203,208,255,1) 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
}

.profileContent {
  padding-top: 150px;
  font-family: "Varela Round";
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* for the profile pic + background */
.profilePicBackground {
  width: 1300px;
  height: 150px;
  background: url(../../images/profile_pic_background.png);
  border-radius: 25px;
  text-align: center;
}

/* name + interests + wishlist */
.profileInfo {
  width: 60%;
  text-align: left;
}

.name {
  margin-top: 6%;
  color: rgba(41, 112, 250, 1);
  font-size: 48px;
  font-family: 'Varela Round';
  text-align: center;
}

.userInfoWrapper {
  display: flex;
  flex-direction: row;
}

.topicFont {
  font-size: 22px;
  font-family: 'Varela Round';
  color: rgba(41, 112, 250, 1);
}

.editUsernameTextbox {
  font-size: 19px;
  font-family: 'Didact Gothic';
  height: 19px;
  width: 150px;
}

.profileUserInfo {
  font-size: 19px;
  font-family: 'Didact Gothic';
  display: flex;
  flex-direction: row;
}

.editButton {
  cursor: pointer;
  background-color: transparent;
}

.saveUndoButtons {
  display: flex;
  flex-direction: row;
}

.usernameButton {
  margin-left: 5%;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-family: 'Varela Round';
  background: rgba(114, 214, 201, 0.8);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  outline: none;  /* removes black border around button when it's clicked */
  border-radius: 70px;
  border: none;
  display: inline-block;
  white-space: nowrap;
  padding: 2px 10px;
}

.usernameButton:hover {
  background: rgba(114, 214, 201, 1);
}

.interestBubblesWrapper {
  display: flex;
  flex-wrap: wrap;
}

.textBubble {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 19px;
  font-family: 'Didact Gothic';
  border-radius: 25px; /* rounded edges */
  padding: 2px 10px 5px 10px; /* Making space around letters */
  margin-top: 1%;
  margin-right: 2%;
}

.indoors {
  background-color: rgba(255, 252, 189, 1);
}

.outdoors {
  background-color: rgba(211, 255, 210, 1);
}

.sports {
  background-color: rgba(251, 180, 165, 1);
}

.music {
  background-color: rgba(254, 219, 128, 1);
}

.delete {
  cursor: pointer;
}

.delete:hover {
  fill: red;
}

.wishlistWrapper {
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  flex-direction: row;
  /* allow extra wishlist items to wrap to next row if there's already 2 items in a row */
  flex-wrap: wrap;
}

.wishlistItem {
  font-size: 19px;
  font-family: 'Didact Gothic';
  display: flex;
  align-items: center;
  margin-top: 1%;
  width: 50%;
}

.addToWishlist {
  cursor: pointer;
  font-size: 19px;
  font-family: 'Didact Gothic';
  margin-top: 1%;
}