.App-header {
  /* CSS from Figma */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: linear-gradient(323.35deg, #CBD0FF -25.25%, rgba(212, 217, 255, 0.81776) 26.17%, rgba(255, 255, 255, 0) 79.11%), #FFFFFF;  
  min-height: 100vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.App {
  text-align: left;
}



.navBar {
  height: 10%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.header-image {
  position: absolute;
  left: 18.91%;
  right: 11.82%;
  top: 16.11%;
  bottom: 56.85%;
  background: url(../../images/profile_pic_background.png);
  border-radius: 50px;
  text-align: center;
}
.header-location {
  position: absolute;
  border-radius: 50px;
  text-align: center;
}

.offset {
    position: relative;
    left: -5%;
}

.topicFont {
  font-size: 12 px;
  font-family: 'Varela Round';
  color: rgb(58, 58, 255) ;
}

/* temp while they aren't links yet */
.orange {
  background-color: #fbb861;
}

.teal {
  background-color:rgb(83, 235, 255);
}

.red {
  background-color: rgb(255, 104, 104);
}

.purple {
  background-color: rgb(187, 187, 255);
}

.green {
  background-color: lightgreen;
}

.textBubble {
    border-radius: 25px; /* rounded edges */
    width: auto; /* Making auto-sizable width */
    height: auto; /* Making auto-sizable height */
    padding: 2px 10px 5px 10px; /* Making space around letters */
}