.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: center;

  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: linear-gradient(
      113.82deg,
      #ffddb5 -4%,
      rgba(255, 224, 187, 0.911458) 21.09%,
      rgba(255, 255, 255, 0) 88.63%
    ),
    #ffffff;
}

.greeting {
  text-align: center;
  color: #2970fa;
  font-family: "Varela Round";
  font-size: 35px;
  position: relative;
  top: 50px;

  /* For debugging 
  background-color: yellow;
  border: 2px solid black;
  */
}

.homePic {
  /* centered in the area */
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 30%);
  text-align: center;
  width: 300px;
  height: auto;
}

.dg {
  font-family: "Didact Gothic";
  font-size: 30px;
}

.search-background {
  border-radius: 25px;
  background: #bad1ff;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 800%);
  text-align: center;
  width: 750px;
  height: 40px;
}

.inner {
  background: #ffffff;
  width: 300px;
  height: 25px;
  transform: translate(-62%, 1310%);
  font-size: 20px;
  text-align: justify;
  position: absolute;
}

.drop-down {
  width: 150px;
  position: absolute;
  background: rgb(255, 255, 255);
  text-align: left;
  transform: translate(-225%, 1310%);
  border-radius: 5px;
  border-color: #007eff;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border: 1.5px solid #007eff;
  font-size: 13px;
  font-family: "Varela Round";
  line-height: 20px;
  box-sizing: border-box;
}

.search-bar {
  background-color: aqua;
  color: blue;
}

.search-button {
  background: #007eff;
  width: 40px;
  /* Dropdown Toggle */

  position: absolute;
  transform: translate(-575%, 1650%);
  /* Primary / 100 */
  border-width: 0px 0px;
  height: 20px;
}

.click:active {
  background-color: aqua;
}

.wrapper1 {
  background-color: blueviolet;
  border: 5px solid red;
  z-index: 1000;
  text-align: center;
  color: #2970fa;
  font-family: "Varela Round";
  font-size: 35px;
  position: relative;
  top: 50px;
}

.mag {
  background-color: #fff;
  display: block;
  background-size: 10px;
  width: 15px;
  height: 15px;
  transform: translate(-980%, 2220%);
  /* z-index: 1111; */
}

.center-text {
  display: inline-flexbox;
}

.centered {
  text-align: center;
  color: #989898;
}

/**/

input {
  width: 120px;
  height: 60px;
  margin-left: 35px;
  display: block;
  background-color: gray;
  color: white;
  border: none;
  outline: none;
}
