/*Has the background color from Figma */
.Home {
  min-height: 100vh;
  padding-bottom: 7%; /* 3% from top padding + 3% bottom padding from homeContent class */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background: linear-gradient(
      113.82deg,
      #ffddb5 -4%,
      rgba(255, 224, 187, 0.911458) 21.09%,
      rgba(255, 255, 255, 0) 88.63%
    ),
    #ffffff;
}

.homeContent {
  position: relative;
  top: 100px;
  width: 800px;
  text-align: center;
  padding: 3% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Using flexbox to space items in a column */
.homeGreeting {
  justify-content: space-between;
}

.hello {
  font-size: 36px;
}

/* Blue color */
.blue {
  color: #2970fa;
}

.grey {
  color: #5a5858;
}

/* Varela font */
.varela {
  font-family: "Varela Round";
}

/* Gothic font */
.gothic {
  font-family: "Didact Gothic";
}

.smallText {
  font-size: 15px;
}

/* A flex item that has no margin (used for greeting) */
.flexItem {
  margin: 0 5px;
}

/* A picture of all 5 of us */
.homePic {
  width: 60%;
}

/*This is the sky blue bar */
.homeSearchbarBackground {
  background-color: #bad1ff;
  width: 1000px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dropDown {
  text-align: left;
  width: 175px;
  border-radius: 5px;
  font-size: 17px;
}

.homeSelect {
  background-color: white;
  border: 1px solid #2970fa;
  border-radius: 5px;
  width: 150px;
  height: 30px;
  outline: none;
  position: relative;
  cursor: pointer;
}

.homeOption {
  cursor: pointer;
}

/* This is the search bar where you can type in text */
.searchbar {
  background-color: white;
  width: 300px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.searchInput {
  width: 260px;
  font-size: 18px;
  padding-left: 8px;
  color: black;
  border: none;
  outline: none;
}

.searchButton {
  background: rgba(114, 214, 201, 0.8);
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.searchButton:hover {
  background: rgb(114, 214, 201);
}

/* The magnifying glass picture next to the search bar */
.searchButtonIcon {
  width: 15px;
  height: 15px;
  fill: rgba(255, 255, 255, 0.85);
}

.giftSuggestionWrapper {
  width: 600px;
  background-color: #e5f0ff;
  padding: 20px;
  border-radius: 25px;
  margin-top: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.giftImgBackground {
  min-width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 25px;
  margin-right: 25px;
  /* to center image */
  display: flex;
  justify-content: center;
  align-items: center;
}

.giftInfo {
  display: flex;
  flex-direction: column;
}

.giftName {
  font-size: 24px;
  margin-bottom: 15px;
  text-decoration: none;
}

.error {
  margin-bottom: 5px;
}

.moreGiftInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.interestInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.interestLabel {
  font-size: 15px;
  margin: 0;
}

.giftInterestTopic {
  font-size: 20px;
  position: relative;
  top: 0;
  display: inline-block;
  padding: 0 10px 3px;
  border-radius: 15px;
  background-color: rgb(255, 252, 189);
  margin: 0;
}

.wishlistInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.giftHeartPic {
  margin: 0;
}

.giftWishlistText {
  font-size: 19px;
  padding-left: 10px;
  margin: 0;
}

.reminderWrapper {
  margin: 3%;
}

.reminder {
  font-family: "Varela Round";
  font-size: 20px;
  margin: 1% 0 0;
}

.viewProfile {
  color: white;
  font-size: 20px;
  font-family: 'Varela Round';
  background: rgba(114, 214, 201, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  outline: none;  /* removes black border around button when it's clicked */
  border-radius: 50px;
  border: none;
  display: inline-block;
  white-space: nowrap;
  padding: 5px 20px;
  cursor: pointer;
}

.viewProfile:hover {
  background: rgba(114, 214, 201, 1);
}

/* Loading animation */
.loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  padding-bottom: 3%;
}
.loading div {
  animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.loading div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgb(12, 191, 180);
  margin: -4px 0 0 -4px;
}
.loading div:nth-child(1) {
  animation-delay: -0.036s;
}
.loading div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.loading div:nth-child(2) {
  animation-delay: -0.072s;
}
.loading div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.loading div:nth-child(3) {
  animation-delay: -0.108s;
}
.loading div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.loading div:nth-child(4) {
  animation-delay: -0.144s;
}
.loading div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.loading div:nth-child(5) {
  animation-delay: -0.18s;
}
.loading div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.loading div:nth-child(6) {
  animation-delay: -0.216s;
}
.loading div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.loading div:nth-child(7) {
  animation-delay: -0.252s;
}
.loading div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.loading div:nth-child(8) {
  animation-delay: -0.288s;
}
.loading div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
