/* background */

/* Auto Layout */
.create_account-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  
  background: linear-gradient(180deg, #C1DEFF 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
}

/* split the screen in half (dunno how this works. more research) */
.split {
  height: 20%;
  width: 50%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
}
/* left half */
.left {
  left: 0;
}

/* right half */
.right {
  right: 0;
}

/* centered in the area */
.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
}

.loginFont {
  font-size: 12 px;
  font-family: 'Varela Round';
  color: rgb(58, 58, 255) ;
}

.loginTextbox {
  font-size:14pt;
}

.createAccountPic {
  transform: scale(.9);
}

.blueText {
  font-size: 48px;
  font-family: 'Varela Round';
  color: rgba(41, 112, 250, 1);
  margin-bottom: 0px;
}