/* background */

/* Auto Layout */
.create_account-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  
  background: linear-gradient(180deg, #C1DEFF 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
}

.loginFont {
  font-size: 12 px;
  font-family: 'Varela Round';
  color: rgb(58, 58, 255) ;
}

.loginTextbox {
  font-size:14pt;
}

.createAccountPic {
  transform: scale(0.8);
}

.navBar {
  height: 15%;
  width: 50%;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding-top: 20px;
}