
.box {
    position: relative;
    width: 500 px;
    padding: 10px;
    border: 1px #dbdbdb;
    background-color: #dbdbdb;
    margin: 0;
}

.loginPic {
  height: 350px;
}

.loginFont {
  font-size: 12 px;
  font-family: 'Varela Round';
  color: rgb(58, 58, 255) ;
}

.loginTextbox {
  font-size:14pt;
}

.bottom {
    position: absolute;
    bottom: 0; 
    width: 100%; 
    height: 50px;
}


