.header-image {
    position: relative;
    border-radius: 25px;
    background: cornflowerblue;
    padding: 20px;
    width: 75%;
}

.offset {
    position: relative;
    left: -25%;
}

.offsetText {
    position: absolute;
    /* left: 0%; */
    padding: 20px;
}

.topicFont {
  font-size: 12 px;
  font-family: 'Varela Round';
  color: rgb(58, 58, 255) ;
}

/* temp while they aren't links yet */
.Nav-link {
  color: #61dafb;
}