.CreateAccount {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 5%;
  background: linear-gradient(180deg, #C1DEFF 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
}

.createAccountContent {
  padding-top: 100px;
  text-align: center;
}

.createAccountTitle {
  font-size: 36px;
  font-family: 'Varela Round';
  color: rgba(41, 112, 250, 1);
}

.createAccountPic {
  margin-top: -3%;
  width: 45%;
}

.userForm {
  margin-top: -2%;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.userInfo {
  width: 70%;
  margin: 0 auto;
}

.blueText {
  font-size: 24px;
  font-family: 'Varela Round';
  color: rgba(41, 112, 250, 1);
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caTextbox {
  font-size: 20px;
  font-family: 'Didact Gothic';
  height: 40px;
  width: 90%;
  border-radius: 8px;
  margin: 10px 0;
  background-color: #eee;
  color: black;
  outline: none;
  text-align: center;
}

.createAccountInstructions {
  font-size: 24px;
  font-family: 'Didact Gothic';
  margin-bottom: 0;
}

.sideNote {
  font-size: 20px;
  font-family: 'Didact Gothic';
  margin: 0;
}

.questionnaire {
  margin: 0 auto;
}

.interestTopic {
  font-size: 30px;
  margin-top: 15px;
}

.interest {
  position: relative;
  width: 400px;
  padding: 20px;
  border: 1px #dbdbdb;
  margin: 30px;
  border-radius: 25px;
}

.indoors {
  background-color: rgba(255, 252, 189, 1);
}

.outdoors {
  background-color: rgba(211, 255, 210, 1);
}

.sports {
  background-color: rgba(251, 180, 165, 1);
}

.music {
  background-color: rgba(254, 219, 128, 1);
}

.createAccountSubmit {
  background: rgba(114, 214, 201, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  color: white;
  font-size: 24px;
  font-family: 'Varela Round';
  padding: 10px 20px;
  border: none;
  outline: none;
  margin: 0 auto;
  width: auto;
  height: auto;
  cursor: pointer;
}

.createAccountSubmit:hover {
  background: rgb(114, 214, 201);
}