/* make the class type here to be used in App.js
   <div className="App"></div> */

.App {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.deviceMessage {
  display: none;
}

/* Tell users with a tablet/phone (screen is less than or equal to 768 pixels wide) to view with laptop/desktop. */
@media (max-width: 768px) {
  .App {
    background-color: #0CBFB4;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  
  .deviceMessage {
    display: block;
    width: 70%;
    font-family: 'Varela Round';
    font-size: 23px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
  }

  .Landing, .SignIn, .CreateAccount, .Profile, .Home {
    display: none;
  }

  .logoSticker {
    width: 230px;
  }
}